.Dashboard header {
  text-align: center;
}

.Dash-header {
  background-color: #282c34;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
  top: 0px;
}

.Dash-header h1 {
  margin-top: 0px;
}
