header {
  text-align: center;
}

section img {
  height: 250px;
  /* max-width: 100%; */
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

dt {
  font-weight: bold;
}

.pet-info {
  padding: 20px;
}
